<nav>
    <div class="nav-wrapper">
      <a href="/members" class="logo">Post To Sold</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i id="float-right" class="material-icons">Menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="nav-links" href="/allitems">View All Items</a></li>
        <li><a class="nav-links" href="/postitem">Post Item</a></li>
        <li><a class="nav-links" href="/members">User</a></li>
        <li><a class="nav-links" href="/logout">Logout</a></li>
      </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a class="nav-links" href="/allitems">View All Items</a></li>
    <li><a class="nav-links" href="/postitem">Post Item</a></li>
    <li><a class="nav-links" href="/members">User</a></li>
    <li><a class="nav-links" href="/logout">Logout</a></li>
</ul>

<div class="container">  
  <div class="row">
    {{#each items}}
    <div class="col s12 m4">
      <div id="cms" class="card">
        <div class="card-image">
          <img class="responsive-img" src={{dataValues.picture}}>
          <span class="card-title">{{dataValues.name}}</span>
        </div>
        <div class="card-content">
          <p>Price: ${{dataValues.price}}</p>
          <hr class="my-4">
          <p class="description">{{dataValues.description}}</p>
          <hr class="my-4">
          <p>Category: {{dataValues.category}}</p>
          <hr class="my-4">
          <p>Sold by: <a href="mailto:{{User.dataValues.email}}">{{User.dataValues.email}}</a></p>
          <hr class="my-4">
          <button class="purchase-btn waves-effect waves-light"><i class="fas fa-hand-holding-usd"></i>Purchase Item</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>  
</div>
  

<script type="text/javascript" src="/js/allitems.js"></script>