<nav>
    <div class="nav-wrapper">
      <a href="/members" class="logo">Post To Sold</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i id="float-right" class="material-icons">Menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="nav-links" href="/allitems">View All Items</a></li>
        <li><a class="nav-links" href="/postitem">Post Item</a></li>
        <li><a class="nav-links" href="/members">User</a></li>
        <li><a class="nav-links" href="/logout">Logout</a></li>
      </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a class="nav-links" href="/allitems">View All Items</a></li>
    <li><a class="nav-links" href="/postitem">Post Item</a></li>
    <li><a class="nav-links" href="/members">User</a></li>
    <li><a class="nav-links" href="/logout">Logout</a></li>
</ul>

<div class="row">
    <div class="col s12 m4 l3">
        <div class="card member-card">
            <div class="card-content">
                <h3>Welcome</h3>
                <h6 style="text-align: center;">{{user.dataValues.email}}!</h6>
            </div>
        </div>
    </div>
    <div class="col s12 m8 l9">
        <h3 class="view-all" style="text-decoration: underline;">All Your Current Posted Items</h3>
        {{#each user.dataValues.Garage_sales}}
        <div class="card horizontal" >
            <div class="card-image item-img-container">
            <img class="user-item-img" src="{{dataValues.picture}}">
            </div>
            <div class="card-stacked">
            <div class="card-content">
            <p>Price: ${{dataValues.price}}</p>
            <hr class="my-4">
            <p class="user-description">{{dataValues.description}}</p>
            <hr class="my-4">
            <p>Category: {{dataValues.category}}</p>
            <hr class="my-4">
            </div>
            {{!-- <div class="card-action">
                <button class="delete-btn waves-effect waves-light" id="delete" data-id="{{dataValues.id}}"><i class="fas fa-trash-alt delete-icon"></i><h7>Delete Post</h7></button>
            </div> --}}
            </div>
        </div> 
        {{/each}}
    </div>
</div>

<script type="text/javascript" src="/js/members.js"></script>